.navbar{
    background-color: black;
    color: #ffffff;
    padding: 10px;
}
.navbar-brand{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.example-spacer {
    flex: 1 1 auto;
  }